In [2]:
import pandas as pd
import numpy as np

In [4]:
the_movie_dataset = pd.read_csv('movies_metadata.csv')

/var/folders/gx/rnh895q11cb5zsdbh368424h0000gn/T/ipykernel_75953/1780150136.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  the_movie_dataset = pd.read_csv('movies_metadata.csv')

In [17]:
movie_dataset = the_movie_dataset.drop(columns=['homepage', 'id', 'imdb_id','poster_path', 'status','vote_average', 'vote_count', 'popularity', 'tagline', 'overview'])

In [18]:
movie_dataset.drop(movie_dataset.loc[movie_dataset.adult == 'True'].index, inplace=True)

In [19]:
movie_dataset.drop(columns=['adult','video'], inplace=True)

In [20]:
movie_dataset.budget = pd.to_numeric(movie_dataset.budget, errors='coerce')

In [21]:
movie_dataset.drop(movie_dataset.loc[movie_dataset.revenue.isnull()].index, inplace=True)
movie_dataset.drop(movie_dataset.loc[movie_dataset.release_date.isnull()].index, inplace=True)
movie_dataset.drop(movie_dataset.loc[movie_dataset.original_language.isnull()].index, inplace=True)
movie_dataset.drop(movie_dataset.loc[movie_dataset.runtime.isnull()].index, inplace=True)

In [22]:
#movie_dataset['belongs_to_collection'] = movie_dataset.belongs_to_collection.notnull()
movie_dataset.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [23]:
from ast import literal_eval

features = ['belongs_to_collection']
for feature in features:
    movie_dataset[feature] = movie_dataset[feature].apply(literal_eval)

def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        return names
    #Return empty list in case of missing/malformed data
    return []    

for feature in features:
    movie_dataset[feature] = movie_dataset[feature].apply(get_list)

ValueError: malformed node or string: nan

In [24]:
movie_dataset

,belongs_to_collection,budget,genres,original_language,original_title,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II
...,...,...,...,...,...,...,...,...,...,...,...,...
45460,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,Robin Hood,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Robin Hood
45462,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",tl,Siglo ng Pagluluwal,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing
45463,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,Betrayal,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal
45464,NaN,0.0,[],en,Satana likuyushchiy,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Satan Triumphant
45465,NaN,0.0,[],en,Queerama,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama

In [25]:
movie_dataset.dtypes

belongs_to_collection     object
budget                   float64
genres                    object
original_language         object
original_title            object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
title                     object
dtype: object

---

In [5]:
top_1000_international = pd.read_csv('boxofficemojointernationaltop1000.tsv', sep='\t')
top_1000_international

,Rank,Title,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Year
0,1,Avatar,2847246203,760507625,0.27,2086738578,0.73,2009
1,2,Avengers: Endgame,2797501328,858373000,0.31,1939128328,0.69,2019
2,3,Titanic,2201647264,659363944,0.30,1542283320,0.70,1997
3,4,Star Wars: Episode VII 0 The Force Awakens,2069521700,936662225,0.45,1132859475,0.55,2015
4,5,Avengers: Infinity War,2048359754,678815482,0.33,1369544272,0.67,2018
...,...,...,...,...,...,...,...,...
995,996,Evan Almighty,174440724,100462298,0.58,73978426,0.42,2007
996,997,Amélie,174118254,33225499,0.19,140892755,0.81,2001
997,998,Identity Thief,173965010,134506920,0.77,39458090,0.23,2013
998,999,The Nutcracker and the Four Realms,173961069,54858851,0.32,119102218,0.68,2018
999,1000,Big Momma's House,173959438,117559438,0.68,56400000,0.32,2000

In [6]:
top_1000_international.isnull().sum()

Rank                        0
Title                       0
Worldwide Lifetime Gross    0
Domestic Lifetime Gross     0
 Domestic %                 0
Foreign Lifetime Gross      0
 Foreign %                  0
Year                        0
dtype: int64

In [3]:
movie_industry = pd.read_csv('movies.csv')
movie_industry

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [4]:
us_movie_industry = movie_industry.loc[movie_industry.country=='United States']

In [5]:
us_movie_clean = us_movie_industry.dropna()

In [6]:
us_movie_clean.reset_index(inplace=True)

In [7]:
us_movie_clean.to_csv('us_movie_clean.csv')

In [7]:
movie_industry_clean = movie_industry.dropna()
movie_industry_clean.reset_index(inplace=True)
movie_industry_clean.to_csv('movie_industry_clean.csv')