In [1]:
import pandas as pd
import numpy as np

In [2]:
movie_industry = pd.read_csv('movies.csv')
movie_industry

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [3]:
movie_industry_clean = movie_industry.dropna()
movie_industry_clean.reset_index(inplace=True)

def wrangling(df):
    df.replace(' ', '_', regex=True, inplace = True)
    df.replace('-', '_', regex=True, inplace = True)
    return df

movie_industry_clean = wrangling(movie_industry_clean)

movie_industry_clean['month'] = movie_industry_clean.released.str.partition("_")[0]
movie_industry_clean['month']

movie_industry_clean.month.unique()

movie_industry_clean

movie_industry_clean.loc[movie_industry_clean.month == '1982']

movie_industry_clean.loc[312] = np.NAN
movie_industry_clean.loc[171] = np.NAN

movie_industry_clean.loc[movie_industry_clean.month == '1985']

movie_industry_clean.loc[437] = np.NAN

movie_industry_clean.loc[movie_industry_clean.month == '1987']

movie_industry_clean.loc[620] = np.NAN

movie_industry_clean.loc[movie_industry_clean.month == '1995']

movie_industry_clean.loc[1637] = np.NAN

movie_industry_clean.loc[movie_industry_clean.month == '2019']

In [157]:
movie_industry_clean.loc[2710] = np.NAN

movie_industry_clean.month.unique()

movie_industry_clean[['released', 'month']]

In [4]:
movie_industry_clean.to_csv('movie_industry_clean.csv')

In [5]:
movie_industry.isnull().sum() #to use for presentation

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [6]:
movie_industry_clean.describe()

,index,year,score,votes,budget,gross,runtime
count,5421.000000,5421.000000,5421.000000,5.421000e+03,5.421000e+03,5.421000e+03,5421.000000
mean,4069.060505,2001.661317,6.392455,1.150661e+05,3.600917e+07,1.032297e+08,108.152739
std,2097.297246,10.540908,0.962730,1.844073e+05,4.157337e+07,1.873027e+08,18.115698
min,0.000000,1980.000000,1.900000,1.950000e+02,6.000000e+03,3.090000e+02,63.000000
25%,2389.000000,1993.000000,5.800000,1.900000e+04,1.000000e+07,1.073640e+07,95.000000
50%,4187.000000,2002.000000,6.500000,5.200000e+04,2.180000e+07,3.686941e+07,105.000000
75%,5844.000000,2011.000000,7.100000,1.290000e+05,4.500000e+07,1.124625e+08,118.000000
max,7652.000000,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,271.000000