In [126]:
import pandas as pd
import numpy as np

In [127]:
movie_industry = pd.read_csv('movies.csv')
movie_industry

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0

In [128]:
movie_industry_clean = movie_industry.dropna()
movie_industry_clean.reset_index(inplace=True)

In [135]:
def wrangling(df):
    df.replace(' ', '_', regex=True, inplace = True)
    df.replace('-', '_', regex=True, inplace = True)
    return df

movie_industry_clean = wrangling(movie_industry_clean)

In [143]:
movie_industry_clean['month'] = movie_industry_clean.released.str.partition("_")[0]
movie_industry_clean['month']

0           June
1           July
2           June
3           July
4           July
          ...
5416     January
5417    February
5418     January
5419    February
5420      August
Name: month, Length: 5421, dtype: object

In [144]:
movie_industry_clean.month.unique()

array(['June', 'July', 'May', 'December', 'October', 'September',
       'February', 'April', 'August', 'March', 'November', 'January',
       '1982', '1985', '1987', '1995', '2019'], dtype=object)

In [145]:
movie_industry_clean

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
0,The_Shining,R,Drama,1980,"June_13,_1980_(United_States)",8.4,927000.0,Stanley_Kubrick,Stephen_King,Jack_Nicholson,United_Kingdom,19000000.0,46998772.0,Warner_Bros.,146.0,June
1,The_Blue_Lagoon,R,Adventure,1980,"July_2,_1980_(United_States)",5.8,65000.0,Randal_Kleiser,Henry_De_Vere_Stacpoole,Brooke_Shields,United_States,4500000.0,58853106.0,Columbia_Pictures,104.0,July
2,Star_Wars:_Episode_V___The_Empire_Strikes_Back,PG,Action,1980,"June_20,_1980_(United_States)",8.7,1200000.0,Irvin_Kershner,Leigh_Brackett,Mark_Hamill,United_States,18000000.0,538375067.0,Lucasfilm,124.0,June
3,Airplane!,PG,Comedy,1980,"July_2,_1980_(United_States)",7.7,221000.0,Jim_Abrahams,Jim_Abrahams,Robert_Hays,United_States,3500000.0,83453539.0,Paramount_Pictures,88.0,July
4,Caddyshack,R,Comedy,1980,"July_25,_1980_(United_States)",7.3,108000.0,Harold_Ramis,Brian_Doyle_Murray,Chevy_Chase,United_States,6000000.0,39846344.0,Orion_Pictures,98.0,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5416,Bad_Boys_for_Life,R,Action,2020,"January_17,_2020_(United_States)",6.6,140000.0,Adil_El_Arbi,Peter_Craig,Will_Smith,United_States,90000000.0,426505244.0,Columbia_Pictures,124.0,January
5417,Sonic_the_Hedgehog,PG,Action,2020,"February_14,_2020_(United_States)",6.5,102000.0,Jeff_Fowler,Pat_Casey,Ben_Schwartz,United_States,85000000.0,319715683.0,Paramount_Pictures,99.0,February
5418,Dolittle,PG,Adventure,2020,"January_17,_2020_(United_States)",5.6,53000.0,Stephen_Gaghan,Stephen_Gaghan,Robert_Downey_Jr.,United_States,175000000.0,245487753.0,Universal_Pictures,101.0,January
5419,The_Call_of_the_Wild,PG,Adventure,2020,"February_21,_2020_(United_States)",6.8,42000.0,Chris_Sanders,Michael_Green,Harrison_Ford,Canada,135000000.0,111105497.0,20th_Century_Studios,100.0,February
5420,The_Eight_Hundred,Not_Rated,Action,2020,"August_28,_2020_(United_States)",6.8,3700.0,Hu_Guan,Hu_Guan,Zhi_zhong_Huang,China,80000000.0,461421559.0,Beijing_Diqi_Yinxiang_Entertainment,149.0,August

In [159]:
movie_industry_clean.loc[movie_industry_clean.month == '1982']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
171,Five_Days_One_Summer,PG,Drama,1982.0,1982_(Japan),6.1,1000.0,Fred_Zinnemann,Michael_Austin,Sean_Connery,United_States,15000000.0,199078.0,Cable_and_Wireless_Finance,108.0,1982

In [160]:
movie_industry_clean.loc[312] = np.NAN
movie_industry_clean.loc[171] = np.NAN

In [149]:
movie_industry_clean.loc[movie_industry_clean.month == '1985']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
437,O.C._and_Stiggs,R,Comedy,1985.0,1985_(United_States),5.4,1200.0,Robert_Altman,Tod_Carroll,Daniel_Jenkins,United_States,7000000.0,29815.0,Metro_Goldwyn_Mayer_(MGM),109.0,1985

In [150]:
movie_industry_clean.loc[437] = np.NAN

In [151]:
movie_industry_clean.loc[movie_industry_clean.month == '1987']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
620,The_House_on_Carroll_Street,PG,Thriller,1987.0,1987_(United_States),6.1,2300.0,Peter_Yates,Walter_Bernstein,Kelly_McGillis,United_States,14000000.0,459824.0,Orion_Pictures,101.0,1987

In [152]:
movie_industry_clean.loc[620] = np.NAN

In [154]:
movie_industry_clean.loc[movie_industry_clean.month == '1995']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
1637,The_White_Balloon,Unrated,Drama,1995.0,1995_(Iran),7.7,6900.0,Jafar_Panahi,Abbas_Kiarostami,Aida_Mohammadkhani,Iran,150000.0,924940.0,Farabi_Cinema_Foundation,85.0,1995

In [155]:
movie_industry_clean.loc[1637] = np.NAN

In [156]:
movie_industry_clean.loc[movie_industry_clean.month == '2019']

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,month
2710,Dahmer,R,Biography,2002.0,2019_(United_States),5.6,9700.0,David_Jacobson,David_Birke,Jeremy_Renner,United_States,250000.0,144008.0,Blockbuster_Films,101.0,2019

In [157]:
movie_industry_clean.loc[2710] = np.NAN

In [161]:
movie_industry_clean.month.unique()

array(['June', 'July', 'May', 'December', 'October', 'September',
       'February', 'April', 'August', 'March', 'November', 'January', nan],
      dtype=object)

In [162]:
movie_industry_clean[['released', 'month']]

                               released     month
0         June_13,_1980_(United_States)      June
1          July_2,_1980_(United_States)      July
2         June_20,_1980_(United_States)      June
3          July_2,_1980_(United_States)      July
4         July_25,_1980_(United_States)      July
...                                 ...       ...
5416   January_17,_2020_(United_States)   January
5417  February_14,_2020_(United_States)  February
5418   January_17,_2020_(United_States)   January
5419  February_21,_2020_(United_States)  February
5420    August_28,_2020_(United_States)    August

[5421 rows x 2 columns]

In [163]:
movie_industry_clean.to_csv('movie_industry_clean.csv')

In [164]:
movie_industry.isnull().sum() #to use for presentation

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [165]:
movie_industry_clean.describe()

,year,score,votes,budget,gross,runtime
count,5415.000000,5415.000000,5.415000e+03,5.415000e+03,5.415000e+03,5415.000000
mean,2001.675162,6.392595,1.151870e+05,3.604198e+07,1.033429e+08,108.161958
std,10.535913,0.962919,1.844736e+05,4.158420e+07,1.873755e+08,18.121593
min,1980.000000,1.900000,1.950000e+02,6.000000e+03,3.090000e+02,63.000000
25%,1993.000000,5.800000,1.900000e+04,1.000000e+07,1.077476e+07,95.000000
50%,2002.000000,6.500000,5.200000e+04,2.200000e+07,3.712171e+07,105.000000
75%,2011.000000,7.100000,1.295000e+05,4.500000e+07,1.127340e+08,118.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,271.000000